.framePro
  min-height 100%
  min-width 1200px
  .header
    background: #192441
    padding: 0
    color: #fff
    border-bottom: 1px solid #23234F
    height: 48px;
    line-height: 48px;
    width: 100%;
    z-index: 19;
    .logo
      width 40px
      height 40px
      img
        vertical-align baseline
    span.ant-select-arrow
      color: #fff!important;
    span.ant-select-selection-item
      color: #fff!important;
  .trigger
    font-size 20px
    padding 10px 0px 10px 20px
    cursor pointer
    color white
    transition color 0.3s

  .trigger:hover
    color #1890ff

  .breadcrumb
    flex 1
    margin-top -7px
  // .side-menu
  //   .ant-menu-inline-collapsed
  //     width 60px
  //     > li.ant-menu-item
  //       padding: 0 22px!important
  //     .ant-menu-submenu-title
  //       padding: 0 22px!important